main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.middle-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.btm-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.figure1 {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 800;
}

.figure2 {
  width: 100px;
  height: 100px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 800;
}

.figure3 {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 800;
}